<%- include ("template"); -%>

    
    <section class="top">
        <div class="content">
            <div class="contentText" >
                <h1>Trade  Swiftly With Peace Of Mind</h1>
            
                <p>Join millions of people globally, to buy 
                    and sell cryptocurrencies and giftcards with 
                    ease at the best rates
                </p>
                <img src="/assets/images/giphy.gif" alt="">
            </div>

            <div  class="contentImg" >
                <img src="/assets/images/home-hero.png" alt=""    data-aos="fade-up" >
            </div>
        </div>
    </section>

    <section class="mid" >
        <div class="midContainer">
            <div class="component"  data-aos="fade-up" >
                <div>
                    <img src="/assets/images/Itunes.png" alt=""   width="50" height="50">
                    <h4>iTunes</h4>
                </div>
                <h6> 
                    <p><%=InairaRate%></p>
                    <p>= $1</p>            
                </h6>
            </div>

            <div class="component" data-aos="fade-up">
                <div>
                    <img src="/assets/images/google-card.png" alt=""   width="50" height="50">
                    <h4>Google Play</h4>
                </div>
                <h6> 
                    <p><%=GnairaRate%></p>
                    <p>= $1</p>            
                </h6>
            </div>

            <div class="component" data-aos="fade-up">
                <div>
                    <img src="/assets/images/razer-gold.png" alt=""   width="50" height="50">
                    <h4>Razer Gold</h4>
                </div>
                <h6> 
                    <p><%=RnairaRate%></p>
                    <p>= $1</p>            
                </h6>
            </div>

            <div class="component" data-aos="fade-up">
                <div>
                    <img src="/assets/images/walmart-card.jpg" alt=""   width="50" height="50">
                    <h4>Walmart</h4>
                </div>
                <h6> 
                    <p><%=WnairaRate%></p>
                    <p>= $1</p>            
                </h6>
            </div>
    </div>
</section>
    
    <section class="last">
        
            <h1>
                Contact
            </h1>
            <div class="linkContainer" >
                <a href="http://"> <img src="/assets/icons/facebook-brands.svg" alt="" class="icon" > Facebook</a>
                <a href="http://"> <img src="/assets/icons/instagram-brands.svg" alt="" class="icon" > Instagram</a>
                <a href="http://"> <img src="/assets/icons/whatsapp-brands.svg" alt="" class="icon" > Whatsapp</a>
            </div>
            
            <footer>
               ©️ 2022 KINGCRUZ ENTERPRISE
            </footer>

    </section>